
<div class="row col-xs-12 center-block">
    <div class="page-header col-xs-8 col-xs-offset-2">
      <p class="lead"><strong>{{ _("You must push the button on your Security Key to log in") }}</strong></p>
    </div>

    <div class="col-xs-8 col-xs-offset-2" id="mfa-text">
        <div class="panel panel-default">
            <div class="panel-body">
                {{ mfa_text }}
            </div>
        </div>
    </div>

    <blink>XXX U2F javascript goes here</blink>

    <form name="mfa-form" id="mfa-form" method="POST" action="#" class="form-inline">
        <div id="mfa-form-buttons" class="form-group">
            <div class="input-group">
                <div class="col-xs-12 col-sm-6">
                    <input class="btn btn-success" type="submit" name="accept" id="accept" value="{{ _('accept') }}">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="btn btn-danger" type="submit" name="reject" id="reject" value="{{ _('reject') }}">
                </div>
            </div>
        </div>
    </form>
</div>
